/* Este estilo permite definir componentes que serão exibidos somente durante a impressão
   do documento, isto porque, durante a impressão a media='print' e não 'screen', podendo
   o programador definir os estilos de tela e os estilos de impressão */
.onlyprint{
	display: none;	
}

body {
    background: #E9E9E9;
	color: #555555;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Destaca o item focado para uma melhor visualização */
a:focus{
	outline: #FF9900 solid thin;
}

a:link,a:visited {
	text-decoration: underline;
}

a:active,a:hover {
	background-color: #AAAAAA;
	cursor: pointer;
}

/* Menu */
ul {
	width: 100%;
	padding: 0;
	border: 0 none;
	background: #ffffff;
	text-align: left;
}


/* Incluindo o select:focus aqui, tinha que clicar 3 vezes para o mesmo baixar */
input[type="text"]:focus,textarea:focus,input[type="password"]:focus {
	background-color: #FDFDBE;
	border: solid 1px #A5ACB2;
/*	width: 100%; */
/*	size: 100; */
}

/* Incluindo o select:focus aqui, tinha que clicar 3 vezes para o mesmo baixar */
input[type="text"],textarea,input[type="password"] {
	background-color: #FFFFFF;
	border: solid 1px #A5ACB2;
	color: #555555;
	font-size: 11px;
/*	width: 100%; */
/*	size: 100; */
}

/* Incluindo o select:focus aqui, tinha que clicar 3 vezes para o mesmo baixar */
/*
select {
	background-color: #FFFFFF;
	border: solid 1px #A5ACB2;
	color: #555555;
	font-size: 12px;
	width: 100%;
}
*/
/* Incluindo o select:focus aqui, tinha que clicar 3 vezes para o mesmo baixar */
input [type="text"]:disabled,textarea:disabled,input [type="password"]:disabled
	{
	color: #555555;
	background-color: #EEEEEE;
	font-size: 11px;
	width: 100%;
}

/* Formata o conteúdo do header.jsp */
.header {
	color: #39508C;
	font-size: smaller;
}

.footer {
	color: #39508C;
	font-family: verdana, helvetica, sans-serif;
	font-size: smaller;
	text-align: center;
}

/* Formata o título superior das telas CRUD 'Você está visualizando a entidade TAL' */
.title {
	color: #000099;
	font-weight: bold;
	font-size: small;
}

/* Formata o título superior das telas CRUD 'Você está visualizando a entidade TAL' */
.propertyLabel {
	color: #000000;
	font-weight: normal;
	font-size: smaller;
}

/* Utilizado para a descrição das propriedades de uma entidade nas telas CRUD */
.description { /*color: #FF7F00;*/
	color: #606060;
	font-size: small;
	text-align: left;
	font-weight: lighter;
}

.description-small{
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

/* Formata o título das telas de menu com uma imagem (ícone) lateral esquerdo */
.titleMenu {
	color: #000099;
	font-size: large;
	font-weight: lighter;
	font-style: italic;
}

.titleGroup {
	color: #000099;
}

.tableList {
	color: #00008B;
	text-align: left;
	font-size: small;
	width: 100%;
	border: 0;
	border-collapse: collapse;	
}

.tableListHeader {
	color: #FFFFFF;
	text-align: left;
	background: #A0A0FF;
	font-size: small;
}

.tableListFooter {
	color: #FFFFFF;
	text-align: right;
	background: #A0A0FF;
	font-size: small;
	font-weight: bold; 
}

.tableListRow {
	color: #00008B;
	font-size: small;
}

.tableListRowEven {
	color: #00008B;
	background: #e8f2fe;
	font-size: small;
	text-align: top;
	border: thin solid #cfd8e2;
}

.tableListRowOdd {
	color: #00008B;
	background: #FFFFFF;
	font-size: small;
	text-align: top;
	border-right: thin solid #cfd8e2;
	border-bottom: thin solid #cfd8e2;
}

.tableListColumn {
	color: #00008B;
	border-left: thin solid #cfd8e2;
	border-top: thin solid #cfd8e2;
	font-size: small;
	padding-right: 10px; 
}

.tableListColumnRight {
	color: #00008B;
	border-left: thin solid #cfd8e2;
	border-top: thin solid #cfd8e2;
	font-size: small;
	text-align: right;
	padding-left: 10px; 
}

/* Estes estilos SelectOne e SelectOneSubmit são utilizados pelos
  javaScript para determinar se executa ou não o for.submit(). Assim,
  o programador pode escolher em situações que o submit() não é
  bem vindo devido às validações do faces, como no Create.jsp onde,
  inicialmente há vários canopi*/
.queryInputSelectOne {
	background-color: #FFFFFF;
	cursor: pointer;
}

.queryInputSelectOneSubmit {
	background-color: #b0e0e6;
	cursor: pointer;
}

.queryInputSelectOneMessage {
	color: #008B8B;
}

.parentGroupHeader {
	color: #00008B;
	text-align: left;
}

.parentGroupDetail {
	color: #00008B;
	font: bold medium serif;
}

.tableView {
	color: #00008B;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.tableViewHeader {
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	font-size: smaller;
	/*	background: #87CEEB; */
	background: #0000CD;
}

.tableViewDeleteHeader {
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: smaller;
	background: #EE2C2C;
}

.tableViewUpdateHeader {
	color: #000000;
	text-align: left;
	font-weight: bold;
	font-size: smaller;
	background: #FFD700;
}

.tableViewCreateHeader {
	color: #4D4D4D;
	font-size: 11px;
	text-align: left;
	background: #FFFFFF;
	border: #777777 1px solid;
 	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.tableViewCreateGroup {
	border: #CECECE 1px solid;
	border-radius: 10px;
	background: #E9EDF5;
	margin-top: 3px;
	font-size: 18px;
}

.tableViewRowEven {
	color: #333333;
}
.tableViewRowEven:HOVER {
	background-color: #AAAAAA;
}

.tableViewRowOdd {
	color: #333333;
}
.tableViewRowOdd:HOVER {
	background-color: #AAAAAA;
}

.tableViewColumnEven {
	width: 20%;
	/* background: #E9EDF5; */
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	font-size: smaller;
}

.tableViewColumnEven_OneToOne {
	width: 150px;
	background: #FFFFFF;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	font-size: smaller;
}

.tableViewColumnEven_OneToMany {
	width: 150px;
	background: #E9EDF5;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	font-size: smaller;
}

.tableViewColumnOdd {
	width: 80%;
	text-align: left;
	color: #990000;
	font-size: smaller;
	padding-bottom: 0px;
}

.tableViewColumnOdd_OneToOne {
	text-align: left;
	color: #999999;
	font-size: smaller;
	padding-bottom: 1px;
}

.tableViewColumnOdd_OneToMany {
	text-align: left;
	color: #999999;
	background: #FFFFFF;
	font-size: smaller;
	padding-bottom: 1px;
}


.tableCollectionUpdate {
	color: #00008B;
	border: thin solid #777777;
	border-radius: 4px;
	text-align: left;
	font-size: small;
}

.tableCollectionUpdateHeader {
	color: #FFFFFF;
	text-align: left;
	background: #AAAAAA;
	font-size: small;
}

/**estilo da tabela filtro avançado**/
.tableCollectionAdvancedQuery {
	color: #006600;
	border: thin solid #D9F2E5;
	text-align: left;
	font-size: smaller;
}

.tableAdvancedQueryHeader {
	color: #FFFFFF;
	text-align: left;
	background: #8CD9B3;
	font-size: smaller;
}

.tableAdvancedQueryRowEven {
	color: #006600;
	background: #D9F2E5;
}

.tableAdvancedQueryRowOdd {
	color: #006600;
	background: #FFFFFF;
}

.tableAdvancedQueryColumnOdd {
	color: #006600;
	font-size: smaller;
}

.errorMessage {
	color: red;
	font-size: 12px;
	font-weight: normal;
}

.infoMessage {
	color: blue;
	background-color: #FFFACD;
	font-size: smaller;
}

/* Estilos relacionados ao Relatório*/
.reportHeader {
	font-size: 9pt;
	font-family: arial;
	text-align: center;
}

.reportTitle {
	font-size: medium;
	font-weight: bold;
}

.reportTable {
	text-align: center;
}

/** estilo da tabela relatório avançado **/
.tableCollectionAdvancedReport {
	color: #660000;
	border: thin solid #FFE5E5;
	text-align: left;
	font-size: smaller;
}

.tableAdvancedReportHeader {
	color: #FFFFFF;
	text-align: left;
	background: #FF4D4D;
	font-size: smaller;
}

.tableAdvancedReportRowEven {
	color: #660000;
	background: #FFE5E5;
	font-size: smaller;
}

.tableAdvancedReportRowOdd {
	color: #660000;
	background: #FFFFFF;
	font-size: smaller;
}

.tableAdvancedReportColumnOdd {
	color: #660000;
	font-size: smaller;
}
